.workflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  
  .workflow aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
  }
  
  .workflow aside .description {
    margin-bottom: 10px;
  }
  
  .workflow .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }
  
  .workflow .dndnode.input {
    border-color: #0041d0;
  }
  
  .workflow .dndnode.output {
    border-color: #ff0072;
  }
  
  .workflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
  .workflow .selectall {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 768px) {
    .workflow {
      flex-direction: row;
    }
  
    .workflow aside {
      width: 10%;
      max-width: 250px;
    }
  }