[Unit]
   Description=Airfarms daphne service for notifications
   After=network.target

[Service]
   Type=simple 
   User=backenduser
   WorkingDirectory=/app  
   ExecStart=daphne -p 9001 airfarms.asgi:application

[Install]
   WantedBy=multi-user.target
